@import "../../variables";
@import "../../mixins";

.card {
    box-sizing: border-box;
    border: 1px solid $grey2;
    background-color: #fff;
    margin-bottom: 16px;
    padding: 16px;
    @include radius(4px);
    @include box-shadow(0 2px 5px 0 rgba(0, 0, 0, 0.15));
    &__custodian-name {
        color: $dark;
        font: 500 16px/20px $font;
        padding: 0;
    }
    &__title {
        color: $grey;
        font: 15px/20px $font;
    }
    &__description {
        color: $dark;
        font: 15px/20px $font;
    }
    &__button {
        box-sizing: border-box;
        border: 1.5px solid $grey2;
        background-color: #fff;
        color: $blue;
        height: 32px;
        font: 500 12px/32px $font;
        padding: 0 16px;
        margin-right: 8px;
        @include radius(16px);
        @include transition(all .4s ease-in-out);
        &:focus{
            outline: none;
        }
        &:hover{
            border-color: $blue;
        }
    }
    .arrow_toggle{
        @media only screen and (max-width: #{$phones-big}){
            padding: 0;
            margin-top: 5px;
        }
    }
}

.accordion{
    .title{
        padding: 0 !important;
    }
    &-title__row {
        display: flex;
        align-items: center;
        &--margin-bottom {
            margin-bottom: 8px;
        }
        &--with-arrow {
            color: $grey;
            font: 15px/24px $font;
        }
        @media only screen and (max-width: #{$phones-big}){
            flex-wrap: wrap;
        }
    }
    &-title__arrow {
        margin: 0 1%;
    }
    &-title__bottom_row {
        margin-top: 16px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $dark;
        font: 15px/24px $font;
        &--margin {
            margin-bottom: 6px;
        }
        @media only screen and (max-width: #{$phones-big}){
            flex-wrap: wrap;
        }
    }
    &-title__marker-icon {
        width: 19px;
        margin: 0 3px 3px 0;
    }
    &-title__clock-icon {
        margin: 0 4px 0 1px;
    }
}

.no-padding {
    padding: 0 !important;
}
