@import "../../variables";
@import "../../mixins";

.city-picker{
    &__marker {
        height: 17px;
        margin-right: 3px;
    }
    &__dropdown {
        color: $grey;
        font-family: $font;
    }
    .menu{
        @media only screen and (max-width: #{$tablets-big}){
            left: auto !important;
            right: 0;
        }
    }
}
