@import "../../variables";
@import "../../mixins";

.expand-icon {
    box-sizing: border-box;
    height: 32px;
    width: 32px;
    border: 1.5px solid $grey2;
    @include radius(16px);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition(all .4s ease-in-out);
    &:hover{
        border-color: $blue;
    }
    &:focus {
        outline: 0 !important;
    }
    &__icon {
        margin: 0 0 4px 0 !important;
    }
}
