@import url('https://rsms.me/inter/inter.css');

.logo {
    color: #666666;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    padding-bottom: 5px;
}

