@import "../../variables";
@import "../../mixins";
@import '~leaflet/dist/leaflet.css';

.leaflet-container {
    height: 100vh;
    width: calc(50% - 30px);
    position: fixed;
    @media only screen and (max-width: #{$laptop}){
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10001;
    }
}

.leaflet-container--hide {
    visibility: hidden;
}

.leaflet-pane {
    z-index: 1 !important;
}

.leaflet-top {
    z-index: 10 !important;
}

.popup__custodian-name {
    color: $dark;
    font: 500 15px/12px $font;
    padding: 5px 0;
    margin-bottom: 10px;
}

.popup__address {
    margin-bottom: 5px;
}

.popup__address_text {
    font-family: $font;
    font-size: 0.9em;
}

