@import "../../variables";

.search-field {
    box-sizing: border-box;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.search-field__dropdown .default, .search, .item, .text {
    color: $color;
    font-family: $font;
}
