@import "../../variables";
@import "../../mixins";

.service-selector {
    height: 40px;
    display: flex;
    align-items: center;
}

.service-selector--border {
    border-right: 1px solid #D8D8D8;
}
