$font: 'Inter', sans-serif;
$grey: #666;
$grey2: #E7E7E7;
$dark: #333;
$green: #0b2e13;
$blue: #297CBB;

$screen-min: 320px;
$screen-min-s: 400px;
$screen-xxs: 565px;
$screen-xs: 767px;
$screen-sm: 991px;
$screen-md: 1199px;
$screen-lg: 1400px;

$phones-mini:only screen and (max-width: #{$screen-min-s});
$phones:only screen and (max-width: #{$screen-min-s});
$phones-big: only screen and (max-width: #{$screen-xxs});
$tablets: only screen and (max-width: #{$screen-xs});
$tablets-big: only screen and (max-width: #{$screen-sm});
$desktop: only screen and (max-width: #{$screen-md});
$full-hd: only screen and (max-width: #{$screen-lg});
